* {
    font-family: "noni";
    color: #515151;
    text-align: center;
    box-sizing: border-box;
}
body {
    /* background-image: url("/images/fondo.jpg")!important; */
    width: auto;
    background-color: #74A1D1;
    /* background-attachment: fixed;

     overflow: hidden; */
     
 }
 /*
.sinMargen {
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
}

.optimizacion {
    max-width: -webkit-fill-available;
}

#usuario {
    color: #515151;
}

.seccion {
    padding-top: 10%;
    align-items: center;
}

.cuadrado {
    justify-content: center;
}

u .flecha {
    font-size: -webkit-xxx-large !important;
}


.optimizacio {
    max-width: 25%;
    max-height: 25%;
}

.center {
    text-align: center;
    align-items: center;
}

.flex-column {
    max-width: 15%;
    position: sticky;
    padding-left: 2%;
    text-align: center;
}

.fotoUsuario {
    max-width: 100%;
}

.carousel-caption,
h5 p {
    color: white;
}

.noPadding {
    padding-top: 2%;
}

li,
.navbar,
.color {
    background-color: white !important;
    font-family: "noni";
    font-size: large;
}

header {
    color: #74A1D1;
    background-color: white;
    margin-top: 2%;
    font-weight: bold;
}

input,
select {
    display: block;
    color: rgb(72, 12, 46);
    margin: auto;
}
*/

/*
#eleccion {
    display: inline;
}
 */
.parte {
    /* max-width: 50%; */
    margin-left: auto;
    margin-right: auto;
}
/*
section {
    margin-bottom: 2%;
}

#action,
.tp {
    display: grid;
    color: black;
    margin-top: 1%;
    margin-bottom: 2%
   }
*/  
/* 

select {
    background-color: white;
}

option {
    background-color: rgb(255, 206, 80);
}


#fdn {
    margin-left: auto;
    margin-right: auto;
} */
/* .fixed-bottom{
    height: 15%;
    background-color: aquamarine;
} */
/* .navbar{
    background-color: aquamarine !important;
} */
/* .fixed-top{
    height: 15%;
    background-color: aquamarine;
} */
/* .inicio{
    padding-top: 70px;
} */
/* .separacion-abajo{
    padding-bottom: 20%;
} */
.centrar{
    margin: auto;
    text-align: center;
}
/* clases usadas en el formulario de agregar canchas */

#submit {
    background-color: #74A1D1;
    color: white;
    border-radius: 26%;
}

.fondo {
    background-color: aliceblue;
} 

.submit {
    margin-top: 1%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-bottom: 3%;
}
input,
select {
    display:flex;
    color: rgb(72, 12, 46);
    margin: auto;
}

label,
label p,
form,
form p,
h4 {
    color: white;
} 

textarea{
    max-width: 80%;
    margin: auto;
}
.tipo-de-cancha{
    display: inline-grid;



}
/* esto hace que el form no se salga del div, y lo encolumna */
 /* form{
    width: 70%;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    backdrop-filter: blur(95%);
    background-color: rgba(0, 0, 0, 0.404);
}  */
.form{
    width: 60%;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    /* -webkit-backdrop-filter: blur(15px); */
    backdrop-filter: blur(95%);
    background-color: rgba(0, 0, 0, 0.404);
    
}
.cuerpo-formulario{
    max-width: 80%;
    margin: auto;
}

@media (max-width:805px){
    .form{
        width: 80%;
    }
}

/* el logo de whatsapp */
#whatsapp{
    position: fixed;
    top:80%;
    left:80%;
    font-size:300%;
    color: green;

}
.fa{
    font-size: xx-large;
    color: blue;
    }
/* -- */


/* clases hechas por luca */
.bg-body-tertiary{
    width: 100%;
    background-color: rgba(10, 2, 2, 0.822) !important ;
    border: double 4px rgba(231, 180, 180, 0.349);
    border-radius: 20px;
}

.navbarr{
    background-color: rgba(36, 33, 33, 0.377);
    border-radius: 10px;
    width: 100%;
    margin: auto;
    }

.tipografiabarralogo {
    font-family: monospace;
    color: rgba(131, 230, 209, 0.637);
    margin: auto;
    background-color: rgb(56, 47, 47);
    
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;
    
}

.logo-style{
    
    margin-top: 20%;
    width: 30%;
    height: 20%;
}


.botonstyle {
    width: 5%;
    height: 2%;
    background-color: rgba(131, 230, 209, 0.637);
}

.recuadrodesplegable {

   
    height: 60%;
    margin-top: 4%;
    text-align: center;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    box-shadow: 0 10px 30px #bba7a723;

    /* fondo borroso */
    -webkit-backdrop-filter: blur(15px);
     backdrop-filter: blur(15px);
     background-color: rgba(0, 0, 0, 0.404);
     
     
    

}

.pestañasnavbar {
    margin-bottom: 3%;
    color: rgb(255, 255, 255)!important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:larger;

    
}

.listadeopciones {

    margin: auto;
    
    background-color: rgba(0, 0, 0, 0.404);
}

.listadeopciones :hover {
    color: rgb(21, 199, 21);
    background-color: rgba(0, 0, 0, 0);
   
}

.listadeopciones :active {
    color: red;
}

.opcionpestaña {
    margin-bottom: 2%;
    text-align: center;
    color: rgb(255, 255, 255);

}



/* clases del footer */
.pie-de-pagina{
display: flex;
flex-direction: column;
}
/* clases del footer */
.pie-de-pagina{
    background-color: aquamarine !important;
}


/* clases de la publicidad */
.carousel-publicidad{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.publicidades{
    padding-top:5%;
    padding-bottom:5%;
    max-width: 100%;
}
.publicidad{
    display:flex;
    max-height: 200px;
    justify-content: space-evenly;
}
#imagen-publicidad{
    max-width: 70px;
    max-height:70px;
    display:flex;
    justify-content: space-evenly;
}
.medida100{
    max-width: 70px;
    max-height: 70px;
}
.medida200{
    max-width: 200px;
    max-height: 200px;
}
/* fin clases de publicidad */